.content
{
    width: 800px;
    padding: 5px 15px;
    margin: 0 auto;
}

.content a
{
    color: #12AAEB;
}

.content a:hover
{
    color: #192b3c;
}

p {
    padding: 5px 0;
}

div.code
{
    color: white;
    font-family: consolas, courier;
    margin: 0px 30px;
    padding: 5px 15px;
    font-size: 10pt;
    background-color: #000010;
    border-radius: 5px;
    position: relative;
}
div.code.other
{
    background-color: #3030a0;
}
div.code .command
{
    font-weight: bold;
    margin: 1px 0px;
    font-size: 12pt;
}
div.code .command-result
{
    margin-bottom: -10px;
    white-space: pre;
    margin-top: -20px;
    color: #cccccc;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}
div.code .host-info
{
    position: absolute;
    right: 0px;
    top: 0px;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-radius: 0px 5px 0px 5px;
    border-color: #ffffff;
    background-color: #000033;
    padding: 2px 5px;
}

div.info-box
{
    color: black;
    margin: 0px 30px;
    padding: 15px;
    font-size: 12pt;
    background-color: #f6f8ff;
    border-radius: 5px;
    border: 2px solid;
    border-color: #6668ff;
    position: relative;
}

span.inline-command, span.inline-name
{
    font-family: consolas, courier;
    font-weight: bold;
    background-color: #f5f5f5;
    color: black;
    padding: 1px 5px;
    border-radius: 5px;
    white-space: nowrap;
}

h4 {
    margin-top: 50px;
}

ul.text {
    font-size: 16px;
}
