 <link type="text/css" rel="stylesheet" href="/assets/css/article.css" />
<div class="content">
 <h3>Development environment.</h3>
        <p/>
        Armada runs only on Linux as of yet. Thus you need to have a Linux box with Armada installed
        to start using it. Whether you want to install Armada on your existing machine or setup separate
        VirtualBox machine for development, it's very easy:
        <a href="/download">Armada installation</a>.
        We strongly suggest the latter, as we also provide ready-to-use vagrant box with Armada.
        Using it that way you won't clutter your other environments and interfere with other services
        in undesired ways.

        <p/>
        In most common case, you probably may have some root directory for your projects
        (e.g. <span class="inline-name">D:\git_projects</span>),
        and your project directory inside it
        (e.g. <span class="inline-name">D:\git_projects\coffee-counter</span>).
        The recommended way to start development is to download Armada's Vagrantfile into your project directory and run new VirtualBox
        machine using vagrant, e.g.:

        <div class="code other">
            <div class="command">D:\>cd \git_projects\coffee-counter</div>
            <div class="command">D:\git_projects\coffee-counter> curl -sLO http://armada.sh/install/Vagrantfile</div>
            <div class="command">D:\git_projects\coffee-counter> vagrant up</div>
        </div>

        <p/>
        If you are on a Windows box and don't have curl available, you can download it from
        <a href="http://curl.haxx.se/download.html" target="_blank">here</a>.

        <p/>
        Our default Vagrantfile is configured to map the directory above it to directory
        <span class="inline-name">/projects</span> inside vagrant. So, if you ssh to newly created
        VirtualBox machine (<span class="inline-name">vagrant ssh</span>) you should see all your
        projects under path <span class="inline-name">/projects</span>. You can use your favourite
        editor/IDE to edit your project source and the changes will be instantly visible inside vagrant.

        <p/>
        To follow next steps along, please copy contents of the file
        <span class="inline-name">coffee-counter.py</span>
        from the <a href="/docs/creating_service">previous chapter</a> into your project directory
        <span class="inline-name">coffee-counter/</span>.
        The code is also available for download:

        <div class="code">
            <div class="command">coffee-counter$ curl -sLO http://armada.sh/docs/coffee-counter.zip</div>
            <div class="command">coffee-counter$ unzip coffee-counter.zip</div>
            <div class="command-result">
Archive:  coffee-counter.zip
  inflating: Dockerfile
   creating: src/
  inflating: src/coffee-counter.py
   creating: supervisor/
  inflating: supervisor/coffee-counter.conf
            </div>
        </div>

        <p/>
        Wherever we use prompt <span class="inline-name">coffee-counter$</span> it means we want to run commands
        inside our service's main directory in the vagrant box, e.g. <span class="inline-name">/projects/coffee-counter</span>.

        <p/>
        Now, we can proceed to build our first
        <a href="/docs/building_service">Dockerfile</a>.
</div>