<link type="text/css" rel="stylesheet" href="/assets/css/article.css" />
<div class="content">
<h3 style="color: red;">This page is not ready yet! It is used as a link placeholder.</h3>


        <p/>
        List of such pages:
        <ul class="text">
            <li id="armadizing_legacy_docker_services">Armadizing legacy Docker services</li>
            <li id="service_internal_port">Service internal port</li>
            <li id="dockerfile_good_practices">Good practices for writing Dockerfile</li>
            <li id="health_checks">Health checks</li>
            <li id="service_discovery">Service discovery</li>
            <li id="courier">Courier</li>
            <li id="hermes">Hermes</li>
        </ul>
</div>
