<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Armada - Complete platform for microservices based on docker containers, service discovery and other DevOps tools">
    <meta name="keywords" content="Docker,DevOps,Services,Microservices,PasS">
    <meta name="author" content="GameDesire">

    <title>Armada - The way to ship microservices</title>

    <!-- Bootstrap Core CSS -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/octicons/octicons.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/agency.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/css/article.css" />
    <!-- Custom Fonts -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom CSS -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-43943668-20', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img src="/assets/img/Armada.png" alt="Armada"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/intro/architecture">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/docs/creating_service">Docs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://github.com/armadaplatform/armada"><span class="octicon octicon-mark-github"><span class="octicon octicon-logo-github"></span></a>
                    </li>
                <li>
                    <a class="btn btn-primary" href="/download">Download</a>
                </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">The way to</div>
                <div class="intro-heading">ship microservices</div>
                <a href="/download" class="page-scroll btn btn-xl">Get Armada</a>
            </div>
        </div>
    </header>

    <section id="services" class="whatsarmada">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="section-subheading">What is Armada?</h4>
                    <h2 class="section-heading">Complete platform for your microservices.</h2>
                    <p>Armada is a complete solution for development, deployment, configuration and discovery of microservices.</p>
                    <p>Armada is more than just a tool, it defines conventions and good practices designed towards making
        your platform more service oriented.</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2"><img src="/assets/img/deployment_icon.png" alt="Deployment"></div>
                        <div class="col-md-10 text-left"><h4 class="filars">Development</h4>
            <p>Instant setup of development environment for your code.
            No more wasting time on following long installation manuals and configuring some legacy services
            just to build and test some hotfix.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><img class="imgs" src="/assets/img/development_icon.png" alt="Development"></div>
                        <div class="col-md-10 text-left"><h4 class="filars">Deployment</h4>
            <p>As Armada is based on Docker it takes advantage of all the benefits that come from containerization.
            Build your app on your machine, and ship it to production without worrying about missing dependencies
            or conflicting libraries.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><img src="/assets/img/discovery_icon.png" alt="Service Discovery"></div>
                        <div class="col-md-10 text-left"><h4 class="filars">Configuration</h4>
            <p>Follow Armada conventions and you will realize that old "Separate configuration from code" mantra is
            not only easy to implement, but also leads to much easier to maintain and deploy codebase.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><img src="/assets/img/configuration_icon.png" alt="Configuration"></div>
                        <div class="col-md-10 text-left"><h4 class="filars">Discovery</h4>
            <p>Armada provides multiple ways for services to connect to each other.
            Meaningful service's health checks and load balancing are also on the features list.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color:#F0F0F0">
        <div class="container" style="background-color:#F0F0F0; padding-bottom: 20px;">
            <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Armada by example</h2>
            </div>
            <div class="col-lg-12">

                <h3 class="example step-1">Step 1. Build</h3>
                <div class="code example step-1" style="box-shadow: 5px 5px 3px #808080;">
                    <div class="command bigger">john@desktop$ armada build chat-service</div>
                    <div class="command-result">
Pulling repository dockyard.armada.sh/microservice_python
...(skipped)...
Successfully built 3be42e99ca6a
                    </div>
                    <div class="command bigger">john@desktop$ armada push chat-service</div>
                    <div class="command-result">
Pushing microservice chat-service to dockyard: dockyard.initech.com...
...(skipped)...
Image has been pushed.
                    </div>
                </div>

                <h3 class="example step-2">Step 2. Run</h3>
                <div class="code example step-2" style="background-color: #296796; box-shadow: 5px 5px 3px #5997c6;">
                    <div class="command bigger">admin@initech$ armada run chat-service --env production-aws</div>
                    <div class="command-result">
Running microservice chat-service from dockyard: dockyard.initech.com locally...
Service is running in container fc6776c8f6da available at addresses:
  192.168.1.43:49272 (80/tcp)
  192.168.1.43:49271 (22/tcp)
                    </div>
                </div>

                <h3 class="example step-3">Step 3. Enjoy!</h3>
                <div class="code example step-3" style="background-color: #0b9edd; box-shadow: 5px 5px 3px #2bbefd;">
                    <div class="command bigger">greg@ubuntu$ curl -X POST http://chat-service.initech.com/channel/chitchat -d '{"nick":"Greg","text":"Hello all!"}'</div>
                    <div class="command-result">
{
    "ok": true
}
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="forwhom" class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">For whom armada is?</h2>
                </div>
            </div>
            <div class="row text-left whitebg">
                <div class="col-md-6 forwhom bottom-align">
                    Anyone who wants</br> to quickly try service oriented architecture in action
                </div>
                <div class="whiteboxright col-md-6">
                    <div class="whiteboxright text-left">
                    <div class="whiteboxrightheader">Armada is beginners friendly</div>
                    <p>and has low entry-level, since we did the work to integrate many
        components into one complete solution.</p>
                    <div class="whiteboxrightheader">You don't have to research dozens of tools,</div><p> read their documentations,
        adapt to your use cases and dive deep into topics such as service discovery and orchestration.
        Armada provides incremental, painless migration steps towards modern architecture.</p>
    </div>
                </div>
            </div>

            <div class="comic-horizontal">
                <div class="row comicheader">
                    <div class="col-md-6 text-right">WITHOUT <b>ARMADA</b></div>
                    <div class="col-md-6 text-left"><div class="with">WITH<b>ARMADA</b></div></div>
                </div>
                <div class="row comic">
                    <div class="col-md-5 text-left"><img src="/assets/img/without_armada_img.png" alt="DevOps without Armada"></div>
                    <div class="col-md-2"><div class="with text-center">VS</div></div>
                    <div class="col-md-5 text-right"><img src="/assets/img/with_armada_img.png" alt="DevOps with Armada"></div>
                </div>
            </div>
            <div class="comic-vertical">
                <div class="row comicheader">
                    <div class="col-md-6 text-center">WITHOUT <b>ARMADA</b></div>
                </div>
                <div class="row comic">
                    <div class="col-md-5 text-center"><img src="/assets/img/without_armada_img.png" alt="DevOps without Armada"></div>
                    <div class="col-md-2"><div class="with text-center">VS</div></div>
                </div>
                <div class="row comicheader">
                    <div class="col-md-6 text-center"><div class="with">WITH<b>ARMADA</b></div></div>
                </div>
                <div class="row comic">
                    <div class="col-md-5 text-center"><img src="/assets/img/with_armada_img.png" alt="DevOps with Armada"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 text-left bottom-align whitebox">
                    Developers and Ops
                </div>
                <div class="col-md-9 devops">
                    <h4>Armada makes these roles a little bit more interchangeable</h4><p> because it provides complete workflow
        from development to deployment that is independent from applications and infrastructure.
        Armada eases the hassle for both those groups:</p>
                <ul class="checkmark">
                    <li><b>Developers don't need to wait for Ops to supply machines with desired environment, installed packages,
        dependencies etc.</b></li>
                    <li><b>Ops can oversee, run, stop, restart services without deep understanding how the application works.</b></li>
                </ul>
        <p>You can use Armada incrementally, take from it bit by bit and benefit from each step.
        Even if you decide to switch to some other solutions in the future (CoreOS, etcd, Docker Compose etc.)
        you'll already be on the right track.</p>
        <p>Armada's suggested extra tools like services repository (dockyard), configuration provider (hermes),
        mini-DNS (magellan) can be easily replaced by other tools if such needs arise.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">

                <div class="pull-left" style="text-align: center;">
                    <h6>Brought to you by</h6>
                    <a href="http://company.gamedesire.com" target="_gamedesire"><img src="/assets/img/gd_logo.png" alt="GameDesire" /></a>
                </div>

                <div class="col-md-6 pull-right">
                    <h4 style="margin-top: 10px;">Do you want to be a captain?</h4>
                    <a href="/intro/getting_started/install/" class="page-scroll btn btn-xl right">Get started!</a>
                </div>

            </div>
        </div>
    </footer>
    <script src="/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/assets/js/classie.js"></script>
    <script src="/assets/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/assets/js/jqBootstrapValidation.js"></script>
    <script src="/assets/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/js/agency.js"></script>

</body>

</html>
